* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: rgb(77, 0, 125);
    text-decoration: none;
}
.recipe-container a {
    color: rgb(1, 60, 12);
}

/* header {
    box-shadow: 5px 0px 5px rgb(39, 3, 0);
} */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: rgb(209, 70, 15);
    border-bottom: 1px solid rgb(39, 3, 0);


}

.user_name {
    order: 3;
}

nav>a {
    box-shadow: 1% 0px 1% rgb(39, 3, 0);
    padding: 2%;
    margin: 2%;
}



a:hover{
    transition: all .5s ease-in-out;
    background-color: rgb(98, 34, 1);
    color: rgb(252, 207, 92);
}

main {
    margin-bottom: 100px;
    padding: 16px;
}

body {
    margin: 0px;
    padding: 0px;
}


footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-bottom: 2em;
    padding-top: 2em;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: -15px 0px -15px rgba(131, 35, 35, 0.355);
    background-color: rgb(39, 3, 0);
    color: rgb(238, 206, 78);
}

img {
    height: 200px;
}

img:hover {
    transition: all .2s ease-in-out;
    transform: rotate(4deg);
    transform: scale(1.1, 1.1)

}

.recipe-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 18px;
}


main > h2, main > h1 {
    grid-column-start: 1;
    grid-column-end: 3;


}

tr:nth-child(even) {
    background-color: gray;
}

 img {
    box-shadow: 7px 5px 5px gray;
 }

 nav>.user_name {
    font-weight: bolder;
 }

/*  .recipe-block{
    background-color: gray;

 }

 .red-background{
    background-color: red;
 } */
