{% extends 'base.html' %}
{% block title %}
{{recipe_object.title}}
{% endblock title %}

{% block content %}
<form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
{% endblock content %}
