{% extends 'base.html' %}
{% load my_filters %}
{% block title %}
{{recipe_object.title}}
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'home_page' %}">Main page</a>
            {% if user.is_authenticated %}
                {% if user == recipe_object.author %}
            <a href="{% url 'edit_recipe' recipe_object.pk %}">Edit recipe</a>
                {% endif %}
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>
            {{recipe_object.title}}
        </h1>
        <img src='{{ recipe_object.picture }}'>
        <div>
            {{ recipe_object.picture }}
        </div>
        <div>
            {{recipe_object.description}}
        </div>
        <h2>
            Ingredients
        </h2>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Unit</th>
                    <th>Food item</th>
                </tr>
            </thead>
            <tbody>
                {% for ing in recipe_object.ingredients.all%}
                <tr>
                    <td>{{ing.amount_num}} </td>
                    <td>{{ing.amount_unit}} of    </td>
                    <td>{{ing.food_item}}</td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
        <h2>
            Steps
        </h2>
        <ol>
            {% for step in recipe_object.step.all %}
            <li>{{step.instruction}}</li>
            {% endfor %}
        </ol>
        <p>
            This recipe was created on {{ recipe_object.created_on|date:"F d Y" }} by {{recipe_object.author}}
        </p>
    </main>
    {% endblock content %}
