{% extends 'base.html' %}
{% block title %}
{{recipe_object.title}}
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a href="{% url 'home_page' %}">Main page</a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Edit</button>
        </form>
    </main>
{% endblock content %}
