{% extends 'base.html' %}
{% block title %}
Scrumptious recipes
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a href="{% url 'home_page' %}">Main page</a>
            {% if user.is_authenticated %}
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
            {% endif %}
            {% if user.is_authenticated %}
            <a class="user_name" href="{% url 'login_page' %}"> Hi {{ user.username }}!</a>
            <a href="{% url 'user_logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'signup_page' %}">Sign Up</a>
            <a href="{% url 'login_page' %}">Log In</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1 class = "recipe-text">Scrumptious Recipes</h1>
        <h2>
            All the food that's fit to eat
        </h2>

        <div class="recipe-container">
            {% for recipe in recipe_list %}
            <div class="recipe-block red-background">
                <h3 class="recipelink">
                    <a href="{% url 'show_recipe' recipe.id %}">{{recipe.title}}</a>
                </h3>
                <img src="{{ recipe.picture }}" alt="fill with alt text">
                <div>{{ recipe.star_rating }}</div>
            </div>
            {% endfor %}
        </div>
    </main>
    {% endblock content %}
