{% extends 'baseadmin.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>ITS A TRAP</div>
    <a href="{% url 'home_page' %}">Go Home</a>

</body>
</html>
