{% extends 'baseadmin.html' %}
{% block title %}Sign Up! - Scrumptious Recipes{% endblock title%}

{% block content %}
<header>
    <nav>
        <a href="{% url 'home_page' %}">Main Page</a>
    </nav>
</header>
<main>
    <h1>Log In</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Start Scrumping!</button>
    </form>
</main>
{% endblock content %}
