{% extends 'baseadmin.html' %}
{% block title%}Document{% endblock title %}
{% block content %}
<header>
    <nav>
        <a href="{% url 'home_page' %}">Main Page</a>
    </nav>
</header>
<body>
    <div>You have sucessfully logged out.</div>
    <div>Scrump you later!</div>
    <a href="{% url 'home_page' %}">Go back Home</a>
{% endblock content %}
